@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/CongNhan/ListByTime" method="post">
    <label>Số triệu chứng</label>
    <input type="text" name="sotrieuchung"/><br />
    <input type="submit" name="submit" value="Liệt kê"/>
</form>
